body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f7fa;
}

.container {
  width: 400px;
  margin: 100px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
}

input,
select,
button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  box-sizing: border-box;
}

button {
  border: none;
  cursor: pointer;
  background: #2563eb;
  color: white;
  border-radius: 6px;
}